@model InternetMag.Models.CategoryView

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    <div>
        @Html.DropDownListFor(x => x.Id, ViewBag.Categ as IEnumerable<SelectListItem>)
    </div>
    <button type="submit">Отправить</button>
}
