<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Korona, Ukrain, Blog, Music, Normal Music" />
    <meta name="description" content="Normal Music" />
    <link rel="icon" href="~/Resourses/firefox.png" />
    <title>HopHey!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Articles", "Index", "Article")</li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
