@{
    ViewBag.Title = "Home Page";
}

@*<div class="pane"style="border-spacing:50px">
    <h1>БОМБОМБОМ</h1>
    <p class="lead"> ASP.NET MVC И У МЕНЯ НЕ БОМБИТ. Однако здравствуйте!!!!</p>
    <p><a href="https://youtu.be/FeCXooh8AXE" class="btn btn-primary btn-lg"> (О_О) &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Attack on Titan - Guren no Yumiya (Gingertail Cover)</h2>
        <p>
            НОРМ ИГРАЕТ.
        </p>
        <p><a class="btn btn-default" href="https://youtu.be/cQTcv9VdmFo">Attack on Titan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@