@model WebApp2.Models.AuthorViewModel

@{
    ViewBag.Title = "DeleteAuthors";
}
<h3>@ViewBag.Message</h3>


@using (Html.BeginForm())
{
    <div>
        @Html.DropDownListFor(x => x.Id, ViewBag.Authors as IEnumerable<SelectListItem>);
    </div>
    <button type="submit">Отправить</button>
}
