
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Korona, Ukrain, Blog, Blogger" />
    <meta name="description" content="Это мой Блог" />
    <link rel="icon" href="~/Resourses/firefox.png" />
    <title>MyBlogAntiKorona</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div>
        <div>
            <style>
                a{
                    color:black;
                }
            </style>
            <h1>
                <a href="https://localhost:44300/Home/Index">
                    <img src="~/Resourses/firefox.png" width="50" />
                </a>
                BLOG
            </h1>
        </div>
        <hr />
        <div>
            avtor
        </div>
    </div>
</body>
</html>
