
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Korona, Ukrain, Blog, Music, Normal Music" />
    <meta name="description" content="Normal Music" />
    <link rel="icon" href="~/Resourses/firefox.png" />
    <title>HopHey!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <div>
        <h1>
            <a href="https://localhost:44300/Home/Index">
                <img src="~/Resourses/firefox.png" width="50" />
            </a>
            BLOG
        </h1>
    </div>
    <hr />

    <h2>Норм Музон</h2>

    <div>
        <ul>
            <li>
                <a href="https://youtu.be/mcO-jOU4U-4" target="_blank">ASKING ALEXANDRIA - Moving On (Cover by RADIO TAPOK)</a>
            </li>
            <li>
                <a href="https://youtu.be/--tFFz44zvc" target="_blank">Nightwish - The Islander (OFFICIAL VIDEO)</a>
            </li>
            <li>
                <a href="https://youtu.be/xsS2R253RaY" target="_blank">Yet another Redline</a>
            </li>
        </ul>
    </div>

</body>
</html>
