@model PortalForReading.Models.ArticleView

@{
    ViewBag.Title = "Delete Article";
}

@using (Html.BeginForm())
{
    <wbr />
    <div class="form-group">
        @Html.LabelFor(model => model.Book, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Id, ViewBag.Article as IEnumerable<SelectListItem>)
        </div>
    </div>
    <button type="submit">Отправить</button>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>